.Sectionmision {
  width: 100%;
  height: 650px;
  font-size: 20px;
  color: rgb(13, 13, 14);
  padding: 60px 0 60px 0;
}

.contenido-mision {
  width: 1280px;
  display: flex;
  margin: auto;
}

.Nuestra-Mision {
  width: 680px;
  margin: 5px;
}

.Nuestra-Mision > h2 {
  font-size: 40px;
  margin-bottom: 2px;
}

h2 > span {
  color: #0a2ae2;
}

.Nuestra-Mision > p {
  margin-top: 2px;
}

.div-mision {
  width: 640px;
  margin: 50px 0 50px 50px;
}

.img-mision {
  width: 70%;
  height: 75%;
  border-radius: 40px;
  transition: 1s;
  margin-left: 80px;
}

.img-mision:hover {
  transform: rotateY(360deg);
  transition: 0.5s;
}
