h2{
    margin-top: 30px;
    font-size: 36px;
    font-weight: 700;
}

h2 span{
    font-weight: 600; 
}

span{
    color: #315FFF;
}

.testimonios{
    padding-top: 60px;
    height: 800px;
    width: 1280px;
    margin: auto;
}

.opiniones{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
}

.card-opinion{
    width: 500px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 16px;
    border-radius: 12px;
    color: #6B6B78;
    margin: auto;
}

.card-opinion:hover{
    transform: scale(1.1);
}

.datos{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
}

.datos>img{
    margin-right: 5px;
}

.persona{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

